<h1>New Message</h1>

<% if @message.errors.any? %>
	<p>Something went wrong: </p>
	<ul>
	<% @message.errors.full_messages_each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @message do |f| %>
	<%= f.label :to %>
	<%= f.text_field :to %>
	<%= f.label :from %>
	<%= f.text_field :from %>
	<%= f.label :body %>
	<%= f.text_area :body, col:100, row:10 %>
	<%= f.submit %>
<% end %>